<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Meus materiais favoritados!</h1>

    <ion-card class="perguntas ion-activatable ripple-parent">
      <ion-item >
        <ion-label>Imagens</ion-label>
      </ion-item>
      
        Todas as imagens favoritadas!
        <ion-list  *ngFor="let item of arrayListIm"  lines="none" detail="false" no-padding>
          <ion-card-content>
            <ion-row class="higiene">
              <ion-col>
                <div class="ripple-parent ion-activatable"
                  style="background-image: url({{item.url}})">
                  <p>{{item.label}}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-list>
      
    </ion-card>

    <ion-card class="perguntas ion-activatable ripple-parent">
      <ion-item >
        <ion-label>Vídeos</ion-label>
      </ion-item>
      
        Todas os vídeos favoritadas!
        <ion-list  *ngFor="let item of arrayListVideo"  lines="none" detail="false" no-padding>
          <ion-card-content>
            <ion-row class="higiene">
              <ion-col>
                <div class="ripple-parent ion-activatable"
                  style="background-image: url({{item.url}})">
                  <p>{{item.label}}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-list>
      
    </ion-card>


    <ion-card class="perguntas ion-activatable ripple-parent">
      <ion-item>
        <ion-label>News</ion-label>
      </ion-item>
      <ion-card-content>
        Todas as news favoritadas!
      </ion-card-content>
    </ion-card>

    <ion-card class="perguntas ion-activatable ripple-parent">
      <ion-item>
        <ion-label>Resultado Quizz Covid-19</ion-label>
      </ion-item>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>


    

      
    
</ion-content>
