#rodape{
    text-align: center;
    }
    #titulo{
      text-align: center;
    }
    #cartao1{
      top: 450%;
    }
    #cabecalho{
      text-align: center;
    }
  
       #img1, #img2, #img3, #img4 {
          position: absolute;
          height: 45px;
          width: 45px;
          top: 12%;
          left: 80%;
        }
  
        
