#rodape{
    text-align: center;
    }
    #titulo{
      text-align: center;
    }
    #cartao1{
      top: 450%;
    }
    #cabecalho{
      text-align: center;
    }
  
   
  
    #busca{
      top: 2%;
    }
  
    #bloco2{
      text-align: center;
      left: 5%;
      right: 5%;
      top: 170%;
      height:40%;
      width: 85%;
      position: absolute;
  
  
  
    }
  
      #bloco3 {
        text-align: center;
        left: 5%;
        right: 5%;
        height: 45%;
        top: 263%;
        width: 85%;
        position: absolute;
  
  
      }
  
        #bloco4 {
  
          text-align: center;
          left: 5%;
          right: 5%;
          height: 45%;
          width: 85%;
          top: 373%;
          position: absolute;
      }
  
       #img1, #img2, #img3, #img4 {
          position: absolute;
          height: 45px;
          width: 45px;
          top: 12%;
          left: 80%;
        }
  
        #geral1{
          position: absolute;
          top: 20%;
        }
  
        #geral2 {
  
         position: absolute;
         top: 104%;
        }
        #geral3{
  
         position: absolute;
         top: 220%;
        }
  
        #geral4{
          position: absolute;
          top: 320%;
        }
        #geral5{
          position:absolute;
          top: 430%;
        }
  
        #geral6{
          position:absolute;
          top:510%;
        }
  
        #outrasopcoes{
          position: absolute;
          top: 420%;
        }
