.alert-wrapper {
    background: #e5e5e5;
  }
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
  .my-custom-class .alert-wrapper {
    background: #ff0000;
  }

  .my-custom-class {
    --background: #ff0000;
  }


 
  