
.container{
display: flex;
justify-content: center;
align-items: center;


}

.container h6{
  color:rgb(37, 3, 3);
  text-align: center;
  margin-left: center;
  margin-right: auto;
  font-style: normal;
  font-weight: 600;

}

.Rodapé{

  text-align:center;
}


