 <ion-header [translucent]="true">
  <ion-toolbar>
     <ion-toolbar color="danger"> <!--mudar a cor-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-toolbar>
 </ion-header>


<ion-content>
<div class="container">
  <h6>PORTAL DE INFORMAÇÕES DO COVID-19 EM TEMPO REAL.</h6>
</div>

<div class="container">
<ion-img src="https://s2.glbimg.com/alVJTMnLNTPbK42da6jdKg6qxBs=/0x0:800x450/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/6/K/5UvfQKRASlBHpbe0Q6lg/foto-1-getty-images.jpg"></ion-img>
</div>

<br>


<div padding >
  <ion-segment>

  <ion-button (click)="myAction()" size= "large" shape="round" href="/VACINAÇÃO">NEWS</ion-button>
  </ion-segment>
</div>

<div padding>
  <ion-segment>
  <ion-button size="large" shape="round" href="/CASOS">VACINAÇÃO</ion-button>
</ion-segment>
</div>

<div padding>
  <ion-segment>
  <ion-button size="large" shape="round" href="/HIGIENIZAÇÃO">CASOS</ion-button>
</ion-segment>
</div>

<div padding>
  <ion-segment>
  <ion-button size="large" shape="round" href="/SINTOMAS">HIGIENIZAÇÃO</ion-button>
</ion-segment>
</div>

 <div padding>
  <ion-segment>
  <ion-button size="large" shape="round" href="/HOME">SINTOMAS</ion-button>
  </ion-segment>
  </div>

</ion-content>


<div class="Rodapé">
<ion-footer>
  <ion-toolbar color="danger">
<H6> #USEMÁSCARA</H6>
   </ion-toolbar>
</ion-footer>
</div>


