<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="background-color: #9F2A2A; color: white; font-size: 30px; text-align: center;">COVID-19</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <h1><strong>Olá Fernanda, <br>
     Que tal te mostrarmos algumas dicas e prenveções para o COVID?</strong></h1>
  <ion-searchbar search-icon="search-outline" placeholder="Pesquisa"></ion-searchbar>

  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <h2><strong>Medidas Preventivas</strong></h2>
    </ion-col>
   
    <ion-col size="auto" class="ml-auto">
      <ion-button fill="clear" color="medium">More</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="higiene">
    <ion-col>
      <div class="ripple-parent ion-activatable"
        style="background-image: url('')">
        <p>Lavar as mãos</p>
      </div>
    </ion-col>
   
    <ion-col>
      <div class="ripple-parent ion-activatable"
        style="background-image: url('')">
        <p>Higienizar as mãos</p>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-col>
    
    <ion-col>
      <div class="ripple-parent ion-activatable"
        style="background-image: url('')">
        <p>5 medidas para se proteger do COVID</p>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <h2><strong>Perguntas e respostas</strong></h2>
    </ion-col>
 
    <ion-col size="auto" class="ml-auto">
      <ion-button fill="clear" color="medium">More</ion-button>
    </ion-col>
  </ion-row>

  <ion-card class="perguntas ion-activatable ripple-parent">
  
    <ion-card-header>
      <ion-row>
        <ion-col size="auto">
          
        </ion-col>
        <ion-col>
          <ion-row>
            <p></p>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>


  

 
  
</ion-content>
