<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="background-color: #9F2A2A; color: white; font-size: 30px; text-align: center;">COVID-19</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" ng-app >
  <h1><strong>Olá Fernanda, <br>
     Que tal te mostrarmos algumas dicas e prenveções para o COVID?</strong></h1>
  <ion-searchbar search-icon="search-outline" placeholder="Pesquisa"></ion-searchbar>

  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <h2><strong>Medidas Preventivas</strong></h2>
    </ion-col>
   
    <ion-col size="auto" class="ml-auto">
      <ion-button fill="outline">Mais</ion-button>
    </ion-col>
  </ion-row>

  <ion-segment (ionChange)="segmentChanged($event)" value="javascript">
    <ion-segment-button value="imagens">
      <ion-label>Imagens</ion-label>
    </ion-segment-button>
    <ion-segment-button value="videos">
      <ion-label>Vídeos</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div id="imagens"  *ngIf="!exibirvideo">
  <ion-row class="higiene">
    <ion-col>
      <div class="ripple-parent ion-activatable"
        style="background-image: url('https://www.jau.sp.gov.br/uploads/noticias/2020/04/08/195840/covid-preven%C3%A7%C3%A3o.jpg.jpg')">
        

        <p>Lavar as mãos</p>
      </div>
      <ion-chip>
        <ion-icon name="heart" color="danger"></ion-icon>
        <ion-label (click)="presentActionSheet()">Favoritar</ion-label>
      </ion-chip>
    </ion-col>
   
    <ion-col>
      <div class="ripple-parent ion-activatable"
        style="background-image: url('https://www.laurodefreitas.ba.gov.br/imagens/img_user/1582977967290220jpg')">
        <p>Higienizar as mãos</p>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <ion-chip>
        <ion-icon name="heart" color="danger"></ion-icon>
        <ion-label (click)="presentActionSheet()">Favoritar</ion-label>
      </ion-chip>
    </ion-col>
    
    <ion-col>
      <div class="ripple-parent ion-activatable"
        style="background-image: url('https://www.princesa.pb.gov.br/storage/content/noticias/geral/3644/destaque/img_202005281518ftTn.jpeg')">
        <p>5 medidas para se proteger do COVID</p>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <ion-chip>
        <ion-icon name="heart" color="danger"></ion-icon>
        <ion-label (click)="presentActionSheet()">Favoritar</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</div>


<div id="videos"  *ngIf="exibirvideo">
  <ion-row class="higiene">
    <ion-col>
      <div class="ripple-parent ion-activatable"
        style="background-image: url('')">
        
        <p>Lavar as mãos</p>
      </div>
      <ion-chip>
        <ion-icon name="heart" color="danger"></ion-icon>
        <ion-label (click)="presentActionSheet()">Favoritar</ion-label>
      </ion-chip>
    </ion-col>
   
    <ion-col>
      <div class="ripple-parent ion-activatable"
        style="background-image: url('')">
        <p>Higienizar as mãos</p>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <ion-chip>
        <ion-icon name="heart" color="danger"></ion-icon>
        <ion-label (click)="presentActionSheet()">Favoritar</ion-label>
      </ion-chip>
    </ion-col>
    
    <ion-col>
      <div class="ripple-parent ion-activatable"
        style="background-image: url('')">
        <p>5 medidas para se proteger do COVID</p>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <ion-chip>
        <ion-icon name="heart" color="danger"></ion-icon>
        <ion-label (click)="presentActionSheet()">Favoritar</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</div>


  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <h2><strong>Perguntas e respostas</strong></h2>
    </ion-col>
 
    <ion-col size="auto" class="ml-auto">
      <ion-button fill="outline">Mais</ion-button>
    </ion-col>
  </ion-row>

  <ion-card class="perguntas ion-activatable ripple-parent">
 
    <ion-item>
      <ion-label>Como o vírus responsável pela COVID-19 se espalha?</ion-label>
     
    </ion-item>
    <ion-card-content>
      As evidências disponíveis atualmente apontam que o vírus causador da COVID-19 pode se espalhar por meio do contato direto, indireto (através de superfícies ou objetos contaminados) ou próximo (na faixa de um metro) com pessoas infectadas através de secreções como saliva e secreções respiratórias ou de suas gotículas respiratórias, que são expelidas quando uma pessoa tosse, espirra, fala ou canta. As pessoas que estão em contato próximo (a menos de 1 metro) com uma pessoa infectada podem pegar a COVID-19 quando essas gotículas infecciosas entrarem na sua boca, nariz ou olhos.
    </ion-card-content>
    <ion-item>
      <ion-label>Como são os sintomas de alguém infectado com COVID-19?</ion-label>
      
    </ion-item>
    <ion-card-content>
      Os sintomas mais comuns da COVID-19 são febre, cansaço e tosse seca. Alguns pacientes podem apresentar dores, congestão nasal, dor de cabeça, conjuntivite, dor de garganta, diarreia, perda de paladar ou olfato, erupção cutânea na pele ou descoloração dos dedos das mãos ou dos pés. Esses sintomas geralmente são leves e começam gradualmente. Algumas pessoas são infectadas, mas apresentam apenas sintomas muito leves.
    </ion-card-content>
    <ion-item>
      <ion-label>Quanto tempo leva após a exposição a COVID-19 para desenvolver sintomas?</ion-label>
      
    </ion-item>
    <ion-card-content>
      O tempo entre a exposição à COVID-19 e o momento em que os sintomas começam (período de incubação) é geralmente de cinco a seis dias, mas pode variar de 1 a 14 dias.
    </ion-card-content>
    <ion-item>
      <ion-label>O que devo fazer se tiver com sintomas de COVID-19?</ion-label>
     
    </ion-item>
    <ion-card-content>
      Se você tiver sintomas menores, como tosse leve ou febre leve, geralmente não há necessidade de procurar atendimento médico. Você pode optar por ficar em casa, fazer autoisolamento (conforme as orientações das autoridades nacionais) e monitorar seus sintomas.
    </ion-card-content>
  </ion-card>
  
 
  <ion-item>
    <ion-badge slot="start">0</ion-badge>
    <ion-label>Meus materiais favoritos</ion-label>
    <ion-badge slot="end">10</ion-badge>
  </ion-item>

  

</ion-content>

